html {
  min-height: 100% !important;
  overflow: unset;
}

body,
.App {
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  overflow: unset;
}

nav {
  max-height: 20vh;
  z-index: 100 !important;
}

footer {
  padding: 10px;
}

.border-round {
  border-radius: 50%;
}

.avatar {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 35%;
  left: 25%;
}

.card-header {
  position: relative;
  min-height: 100px;
}

.border-top-orange {
  border-top: 5px solid #e95420;
}

.button-rounded {
  border-radius: 30px;
}

.publish-btn {
  padding: 0;
  padding: 2px 20px;
}

.follow-suggestions p,
.follow-suggestions a {
  margin: 0;
  padding: 0;
}

.follow-suggestions p {
  color: #27aaee;
  font-size: 14px;
}

.follow-suggestions a {
  font-size: 13px;
  text-decoration: none;
}

.post-text {
  font-size: 15px;
  line-height: 1.6;
}

.tags {
  display: flex;
}

.post-user-badge {
  background-color: #27aaee;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.tags-item {
  background-color: #f2f2f2;
  color: gray;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 30px;
  font-size: 13px;
}

html,
body {
  overflow: auto;
}

#newsFeed {
  overflow: none;
}

.newsfeedCenter {
  position: relative;
  max-height: calc(100vh - 20vh);
  overflow: auto;
}

/* Hide Scrollbar */
.newsfeedCenter::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.newsfeedLeft {
  overflow: none;
}

.newsfeedRight {
  overflow: none;
}

/* #mini-profile {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

#who-to-follow {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
} */

.min-vh-70 {
  min-height: 70vh;
}

.navbar-nav .nav-link {
  color: #fff;
}

/* PROFILE SSTYLE */

.post-editor,
.stream-post {
  padding: 0.75rem;
  background: #f7f7f9;
  border: 1px solid #eceeef;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .profile-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

body.menubar-top .profile-wrapper {
  border: 1px solid #eceeef;
}

.profile-section-user {
  border-right: 1px solid #eceeef;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .profile-section-user {
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%;
  }
}

@media (min-width: 992px) {
  .profile-section-user {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
}

.profile-section-user table {
  margin-bottom: 0;
}

.profile-section-user table td {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.profile-section-user .img-gallery [class*='col'] {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.profile-section-user .img-gallery .row {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.profile-section-user .img-gallery .g__item {
  margin-bottom: 0.5rem;
}

.profile-cover-img img {
  width: 100%;
  height: auto;
}

.profile-info-brief {
  position: relative;
  padding-top: 74px !important;
}

.profile-info-brief .user-profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.profile-section-main {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 5000px;
  flex: 0 1 5000px;
  overflow: hidden;
}

.profile-tabs {
  padding: 0.75rem 1.5rem 0;
  background: #f7f7f9;
  border-top: 1px solid #eceeef;
}

.profile-tabs .nav-link {
  font-weight: 400;
  padding: 0.75rem 1.5rem;
}

.profile-tabs .nav-link.active,
.profile-tabs .nav-link.active:focus,
.profile-tabs .nav-link.active:hover,
.profile-tabs .nav-link:active,
.profile-tabs .nav-link:focus {
  color: #60c84c;
}

.profile-tabs-content .tab-pane {
  padding: 1.5rem;
}

.post-editor .post-field {
  width: 100%;
  height: 120px;
  resize: vertical;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-color: #eceeef;
}

.post-editor .post-field:focus {
  box-shadow: none;
  outline: none;
}

.stream-post {
  position: relative;
}

.sp-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sp-author .sp-author-avatar {
  display: inline-block;
  height: 64px;
  width: 64px;
  margin-right: 16px;
}

.sp-author .sp-author-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sp-author .sp-author-name {
  font-size: 1rem;
  margin: 0.5rem 0;
}

@media (min-width: 992px) {
  .sp-author {
    position: absolute;
    width: 100%;
    left: 1rem;
    top: 1rem;
  }
  .sp-author .sp-author-name {
    margin: 0;
    position: absolute;
    left: 80px;
    top: 8px;
    background: rgba(0, 0, 0, 0.9);
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    z-index: -1;
    opacity: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  .sp-author .sp-author-name > a {
    color: #fff;
  }
  .sp-author .sp-author-avatar:hover + .sp-author-name {
    opacity: 1;
    z-index: 9999;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .sp-author .sp-author-name:after {
    content: '';
    display: block;
    position: absolute;
    left: -8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgba(0, 0, 0, 0.9);
  }
}

.sp-content {
  position: relative;
  border-radius: 0.25rem;
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
}

.sp-content .sp-info {
  font-size: 0.875rem;
  color: #636c72;
  position: absolute;
  top: -3rem;
  left: 80px;
}

.sp-content .sp-paragraph {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.sp-content .sp-paragraph:last-child {
  margin-bottom: 0;
}

.sp-content .sp-gallery img {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 220px;
  max-height: 130px;
}

.sp-content .sp-video {
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .sp-content {
    margin-left: 80px;
    margin-top: 0;
  }
  .sp-content .sp-info {
    position: static;
    font-style: italic;
    margin-bottom: 1rem;
  }
}

#profile-settings textarea {
  padding: 1rem;
  line-height: 1.8;
  height: 140px;
  font-style: italic;
}

#profile-settings label {
  font-size: 1rem;
}

#profile-settings .form-control {
  color: #818a91;
}

#profile-settings .form-control,
#profile-settings .form-control:focus {
  box-shadow: none;
  outline: none;
}

.edit-cover {
  position: relative;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #eceeef;
  background: #f7f7f9;
  height: 400px;
}

.edit-cover img {
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
}

.edit-cover .btn {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

/* END PROFILE STYLE */

/* TIMELINE STYLE */
.img-xs {
  width: 37px;
  height: 37px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}

.card-header:first-child {
  border-radius: 0 0 0 0;
}
.card-header {
  padding: 0.875rem 1.5rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #f2f4f9;
}

.card-footer:last-child {
  border-radius: 0 0 0 0;
}
.card-footer {
  padding: 0.875rem 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid #f2f4f9;
}

.grid-margin {
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
.rounded {
  border-radius: 0.25rem !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f2f4f9;
  border-radius: 0.25rem;
}
/* TIMELINE */
